body {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Mantinia;
}

@font-face {
    font-family: Mantinia;
    src: url('Mantinia Regular/Mantinia Regular.otf') format("opentype");
}

#hero {
    flex: 2;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

#content {
    flex: 3;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: rgb(239, 239, 239);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

#main {
    background-color: white;
    flex: 1;
    z-index: 2;
    box-shadow: 2px 3px 5px rgb(196, 193, 193);
}

#footer {
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    flex: 1;
}

#logo {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.583);
    width: 100%;
}

#formcontainer {
    margin: 0rem 4rem;
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
}

form {
    display: flex;
    font-size: 1rem;
    gap: 5rem;
}

#block1 {
    display: flex;
    flex-direction: column;
}

#block2 {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 2rem;
    height: 1rem;
    padding-left: 7px;
    border: 1px solid #c5c7cc;
    border-radius: 3px;
}

input:focus {
    outline: none;
    border: 1px solid #5484ff;
    box-shadow: 1px 1px 5px #a3a6ab;
}

.triggered:invalid {
    border: 1px solid red;
}

#pswd {
    margin-bottom: 0rem;
}

#pswderror {
    margin-top: .25rem;
    color: red;
    font-size: .75rem;
}

#imglogo {
    height: 8rem;
    width: 8rem;
}

#hero div:last-child {
    margin-bottom: 1rem;
}

#logo div:last-child {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

#header h3 {
    margin: 0rem 4rem 3rem;
    font-size: 2rem;
}

#submit {
    position: absolute;
    bottom: 15.5rem;
    font-weight: bolder;
    color: white;
    height: 3rem;
    width: 14rem;
    background-color: rgb(84, 141, 215);
    border: 0px;
    border-radius: 10px;
}

#footer > * {
    margin: 5.75rem 0 0 4rem;
}